@inherits LayoutComponentBase

<div class="page-loader">
    <div class="bg-primary"></div>
</div>

@Body

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string SubTitle { get; set; }


}

