@{
}
<div >
	<div class="row">
		<div class="col-md-12">
			<vc:zone  name="Top" />
		</div>
	</div>
	<div class="row my-5">
		<div class="col-md-12">
			<vc:zone name="Left" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<vc:zone  name="Bottom" />
		</div>
	</div>
</di>
