<div class="form-group">
    <label
           class="col-md-12 form-label required required-label">
        @Label:
    </label>
    <div  class="col-md-12">
        <input type="password" class="form-control">

    </div>
</div>
@code {

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public bool IsRequired { get; set; }
}
